@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main: #f1592b;
  --main-lite: #fbd2c6;
  --hover: #f03800;
  --dark: #002948;
  --dark-lite: #004274;
  --grey: #eeeeee;
  --light: #f4fbff;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  color: #333;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
